<div class="login-form">
    <form action="/login" method="post" class="form">
        <div class="form__row">
            <label for="username" class="form__label">Логин:</label>
            <input type="text" name="username" class="form__input" id="username" placeholder="Ваш логин">
        </div>
        <div class="form-row">
            <label for="password" class="form__label">Пароль:</label>
            <input type="password" name="password" class="form__input" id="password" autocomplete="false" placeholder="Ваш пароль">
        </div>
        <button type="submit" class="form__button">Войти</button>
    </form>
</div>
