<div class="row">
    {{>adminMenu}}
    <div class="create-post">
        <h3>Новая статья</h3>
        <form action="/admin/posts/create" method="post" class="form" enctype="multipart/form-data">
            <div class="form__row">
                <label for="title" class="form__label">Название:</label>
                <input type="text" name="title" class="form__input" id="title" placeholder="Название статьи">
            </div>
            <div class="form-row">
                <label for="content" class="form__label">Контент:</label>
                <textarea name="content" class="form__input" id="content" placeholder="Контент статьи" rows="20"></textarea>
            </div>
            <div class="form-row">
                <label for="content" class="form__label">Постер:</label>
                <input type="file" name="poster" />
            </div>
            <button type="submit" class="form__button">Создать</button>
        </form>
    </div>
</div>
