<div class="callout main-content">
    <h3 class="text-center">Новая статья</h3>
    <form action="/post" method="post">
        <label>
            Название:
            <input type="text" name="title" placeholder="Название статьи">
        </label>
        <label>
            Контент:
            <textarea name="content" placeholder="Контент статьи" rows="10"></textarea>
        </label>
        <button type="submit" class="button">Создать</button>
    </form>
</div>