<nav class="admin-menu">
    <h3>Управление</h3>
    <ul>
        <li><a href="/admin/posts">Статьи</a></li>
        <li><a href="/admin/posts/create">Создать статью</a></li>
        <li><a href="/logout">Выход</a></li>
    </ul>
</nav>
