<div>
    <h3 class="text-center page-title">Все статьи</h3>
    {{#if posts}}
        {{#each posts}}
            <div class="callout">
                <h3>{{title}}</h3>
                <p>{{content}}</p>
                <a href="/post/{{slug}}">Подробнее</a>
            </div>
        {{/each }}
    {{else}}
        <div class="callout secondary">
            <h3 class="text-center">На данный момент нет ни одной статьи.</h3>
        </div>
    {{/if}}
</div>
