<div class="callout">
    <h3>Вход на сайт</h3>
    <form action="/login" method="post">
        <label>
            Логин
            <input type="text" name="username" placeholder="Ваш логин">
        </label>
        <label>
            Пароль
            <input type="password" name="password" placeholder="Ваш пароль">
        </label>
        <button type="submit" class="button hollow">Войти</button>
    </form>
</div>