.article {
    color: $article-text-color;
    background-color: $article-bg-color;
    padding: $article-padding-size;
    margin-bottom: 15px;
    @include make-shadow(.25);
    &__title {
        margin: 0;
    }

    &__pub-date {

    }

    &__poster {
        height: 200px;
    }
}
