.search {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    &__input {
        border: 1px solid #eee;
        width: 100%;
        font-size: .9rem;
        outline: none;
        padding: 5px;  
    }

    &__button {
        margin-top: 10px;
        border: none;
        background-color: #fff;
        color: #000;
        display: block;
        font-size: 1rem;
        font-weight: bold;
        width: 100%;
        &:hover {
            background-color: #f6f6f6;
            cursor: pointer;
        }
    }
}