* {
    box-sizing: border-box;
    font-family: $main-font-family;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: $main-bg-color;
}


.top-header {
    height: $top-header-size;
    background-color: $top-header-bg-color;
    @include make-shadow(.5);
}

.container{
    width: $container-size;
    margin: 0 auto;
}
.row {
    @include clearfix();
}

.footer {
    height: 200px;
    p {
        text-align: center;
        line-height: 200px;
        margin: 0;
    }
}
